x64/
*.out
*.exe
*.deb
*.sh
*.tar.gz
*.o
*.txt
*.sln
*.vcxproj
*.filters
*.user
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
